@import "./variables";
@import "./function";
@import "./mixin.scss";

.main {
  width: 100%;
  text-align: center;
  //   @include tablet {
  //     margin-right: 10%;
  //     margin-left: 10%;
  //   }
  //formulario
  &__form {
    padding: rem(20);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $textcolor2;
    background-color: $maincolor;
    // border: solid 0.5em $bkcolor;
    // border-radius: 1em;
    @include tablet {
      padding: rem(40);
      flex-direction: row;
      justify-content: space-around;
    }
    @include desktop {
      padding: rem(30);
      justify-content: space-evenly;
    }
    &--input {
      padding: rem(10);
    }

    &--reset {
      margin: 10px;
      font-family: creepster;
      margin-top: 5px;
      padding: 5px;
      width: 50px;
      text-align: center;
      border-radius: 50%;
      border: rem(1) solid rgba(0, 0, 0, 0.75);
      background-color: $secondcolor;
      font-weight: bold;
      color: $textcolor2;
      box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
      cursor: pointer;
    }
  }
  &__container {
    background-color: $textcolor2;
    padding: rem(10);
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    // @include desktop {
    //   grid-template-columns: repeat(3, 1fr);
    //   margin-bottom: 20px;
    // }
  }
}
