@import "./variables";
@import "./function";
@import "./mixin.scss";

.main {
  width: 100%;
  text-align: center;
  //formulario
  &__form {
    padding: rem(20);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $textcolor2;
    background-color: $maincolor;
    @include tablet {
      padding: rem(40);
      flex-direction: row;
      justify-content: space-around;
    }
    @include desktop {
      padding: rem(30);
      justify-content: space-evenly;
    }
    &--input {
      padding: rem(10);
    }

    &--reset {
      margin: rem(10);
      margin-top: rem(10);
      padding: rem(10);
      width: rem(60);
      text-align: center;
      border-radius: 50%;
      border: rem(1) solid rgba(0, 0, 0, 0.75);
      background-color: $secondcolor;
      font-weight: bold;
      color: $textcolor2;
      box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
      cursor: pointer;
    }
  }
  //list of phones
  &__container {
    background-color: $textcolor2;
    padding: rem(20);
    display: grid;
    justify-items: center;
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: rem(20);
    }
    @include desktop {
      grid-template-columns: repeat(3, 1fr);
      margin-bottom: rem(30);
    }
  }
}
