@import "./variables";
@import "./function";
@import "./mixin.scss";

.main {
  //   margin-right: 5%;
  //   margin-left: 5%;
  //   text-align: center;
  @include tablet {
    margin-right: 10%;
    margin-left: 10%;
  }
  //formulario
  &__form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: $maincolor;
    border: solid 0.5em $bkcolor;
    border-radius: 1em;
    @include tablet {
      flex-direction: row;
      justify-content: space-around;
    }

    &--reset {
      margin: 10px;
      font-family: creepster;
      margin-top: 5px;
      padding: 5px;
      width: 50px;
      text-align: center;
      border-radius: 50%;
      background-color: $secondcolor;
      color: $textcolor;
      box-shadow: 5px 5px 5px 0px rgba(74, 71, 71, 0.5);
      cursor: pointer;
    }
  }
}
