@import "./variables";
@import "./function";
@import "./mixin.scss";

.phone {
  background-color: $textcolor2;
  margin: rem(20);
  width: rem(200);
  padding: rem(20) 0;
  box-shadow: 5px 5px 5px 8px rgba(26, 19, 19, 0.5);
  border-radius: 5%;
  &:hover {
    transform: scale(1.1);
  }
  @include tablet {
    width: rem(250);
  }
  &__title {
    font-size: rem(20);
    font-weight: bold;
    padding: rem(10);
    color: $textcolor;
    @include tablet {
      font-size: rem(22);
    }
  }
  &__img {
    width: rem(200);
  }
  &__container {
    margin-top: rem(10);
    color: $textcolor;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      margin: 0 rem(10);
      display: flex;
      flex-direction: row;
    }

    &--price {
      padding: rem(10);
      width: rem(70);
      text-align: center;
      border-radius: 50%;
      border: rem(1) solid rgba(0, 0, 0, 0.75);
      background-color: $textcolor;
      font-size: rem(20);
      font-weight: bold;
      color: $textcolor2;
    }
    &--information {
      margin-top: rem(10);
    }
  }
}
