@import "./variables";
@import "./function";
@import "./mixin.scss";

.phone {
  background-color: $bkcolor;
  margin: 10px;
  width: 200px;
  padding: rem(10);
  box-shadow: 5px 5px 5px 0px rgba(26, 19, 19, 0.5);
  border-radius: 5%;
  border: solid rem(2) $bkcolor1;

  &:hover {
    transform: scale(1.1);
  }

  &__title {
    padding: 10px;
    color: aqua;
  }
  &__img {
    width: 120px;
    height: 120px;
    border-radius: 40%;
  }
  &__itemContainer {
    color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.chacNot {
  @include tablet {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  @include desktop {
    grid-column-start: 1;
    grid-column-end: 5;
  }
  &__title {
    font-size: 20px;
    @include tablet {
      font-size: 40px;
    }
    @include desktop {
      font-size: 50px;
    }
  }
  &__img {
    width: 100%;
    border-radius: 5%;
  }
}
